h1 {
    display: flex;
    justify-content: center;
}

/*
#user_email:valid {
    border-color: green;
}

#user_email:invalid {
    border-color: red;
}
*/

.password_msg_req {
    color: rgb(190, 190, 190);
    display: block;
}